body {
  margin: 0;
  padding: 0;
  background-color: rgb(49, 48, 48);
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #FFD801;
  padding: 30px;
}

.header-header,
.header-text {
  font-size: 20px;
  font-weight: bold;
}

.header-header {
  font-size: 28px;
}

.fa {
  color: #FFD801;
  padding: 2px;
  transition: transform 0.5s ease-in-out;
}

.fa:hover {
  transform: rotate(360deg) scale(1.2);
}

a {
  text-decoration: none;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 50px -200px;
  gap: 50px;
}


.grid-container {
  display: inline-grid;
  grid-gap: 0;
  background-color: rgb(49, 48, 48);
  grid-template-columns: repeat(16, auto);
}

.button-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  padding: 20px;
  border-radius: 5%;
}

.btn-setting {
    border-radius: 5px;
    border: 1px solid #FFD801;
    color: #FFD801;
    background-color:  rgb(49, 48, 48);
    padding: 5px;
    transition-duration: 0.4s;
    font-weight: bold;
    
}

.btn-setting:hover {
    cursor: pointer;
    color: rgb(49, 48, 48);
    background-color: #FFD801;
    
}

.color-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: #FFD801;;
}

.rainbow-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: #FFD801;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #FFD801;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFD801;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.footer {
  background-color: black;
  color: #FFD801;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  
}
